h1 {
    font-size: 3em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.center {
    display: flex;
    justify-content: center;
}

#treemap {
    overflow: hidden;
}

.tile {
    overflow: hidden;
}

text {
    overflow: hidden;
}